/*main.css*/

body{
font-family: 'Open Sans', sans-serif;
}



a {
  text-decoration: none;
}

img{
max-width: 100%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  
}
/*logo text*/
#logo{
  text-align: center;
  margin: 0;
}
/*************
heading
*************/
header{
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  
  
}
/* h1 Font */
h1{
font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

}


h2{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
  
  
}

nav{
 text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

/*********
FOOTER
/********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  
}



a{
color: #6ab74b
}
/* green header*/
header{
  background: #6ab74b;
  border-color: #599a68;
}

h1, h2 {
  color: #fff;
}
/*************
NAVIGATION
**************/
/*nav background on mobile devices*/
 nav{
  background: #599a68;
  
}
/*visited nav link color*/
nav a, nav a:visited {
  color: #fff;
}
/*selected nav link color*/
nav a.selected, nav a:hover{
  color: #32673f;
}
nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
  
}

nav li{
  display: inline-block;
}

nav a{
 font-weight: 800;
  padding: 15px 10px;
}

.socialicon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
  
}

/* site body */
body{
  background-color: #fff;
  color: #999;
}

/**************
Portfolio
****************/

#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}
#gallery li{
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdcd37;
  
}
#gallery li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #A9A9A9;
}
.pickup-photo{
display: block;
  max-width: 400px;
  margin: 0 auto 50px;
  border-radius: 20px;
  
}

h3{
  margin: 0 0 1em 0;
}
/**************
CONTACT
***************/

.contact-info{
list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.93m;
}

  
